<div class="login">
  <div class="form-container">
    <img [src]='logo' alt="logo" class="logo">

    <h1 class="title">Email has been sent!</h1>
    <p class="subtitle">please check your inbox for instructions on how to reset the password</p>

    <div class="email-image">
      <img [src]='emailIcon' alt="email-image">
    </div>

    <button class="primary-button login-button">Login</button>

    <p class="resend">
      <span>Didn't resive the email?</span>
      <a href="/">Resend</a>
    </p>

  </div>
 </div>
