<app-navbar></app-navbar>
<div class="my-order">
  <div class="my-order--container">
    <h1 class="title">My order</h1>

    <div class="my-order--content">
      <div class="order">
        <p>
          <span>16.11.22</span>
          <span>6 articles</span>
        </p>
        <p>
          $560.00
        </p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img [src]='producto' class="producto" alt="café 340">
        </figure>
        <p>Café 340gr</p>
        <p>$20.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../../assets/cafe340gr.png" class="producto" alt="café 340">
        </figure>
        <p>Café 340gr</p>
        <p>$20.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../../assets/cafe340gr.png" class="producto" alt="café 340">
        </figure>
        <p>Café 340gr</p>
        <p>$20.00</p>
      </div>
    </div>

  </div>
</div>
