<nav>
  <img class="nav--menu" [src]='imgMenu' alt="">

  <div class="navbar-left">
    <img class="nav--logo" [src]='logo' alt="logo">
    <ul>
      <li>
        <a href="">All</a>
      </li>

      <li>
        <a href="">Cafe 340gr</a>
      </li>

      <li>
        <a href="">Cafe 500gr</a>
      </li>

      <li>
        <a href="">Cafe dripp</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <ul class="navbar-shopping-cart">
      <li class="navbar-email">initium@example.com</li>
      <li>
        <img class="shopping-cart" [src]="shoppingCart" alt="shopping cart">
      </li>
      <div>2</div>
    </ul>
  </div>
</nav>
