<div class="login">
  <div class="form-container">
    <img [src]='logo' alt="logo" class="logo">

    <form action="/" class="form">
      <label for="email" class="label">Email address</label>
      <input type="text" class="input input--email" id="email" placeholder="initium@example.com">

      <label for="password" class="label">Password</label>
      <input type="password" class="input input-password" id="password" placeholder="********">

      <input type="submit" value="Login" class="primary-button login-button">
      <a href="/">Forgot my password</a>
    </form>

    <button class="secundary-button signup-button">Sign up</button>

  </div>
 </div>
