<app-navbar></app-navbar>

<div class="my-order">
  <div class="my-order--container">
    <div class="title">
      <img [src]='arrowRight' alt="">
      <p class="title--name">Shoping cart</p>
    </div>

    <div class="my-order--content">


      <div class="shopping-cart">
        <figure>
          <img [src]='producto' class="producto" alt="café 340">
        </figure>
        <p>Café 340gr</p>
        <p>$20.00</p>
        <img [src]= 'close' alt="" class="close">
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../../assets/cafe340gr.png" class="producto" alt="café 340">
        </figure>
        <p>Café 340gr</p>
        <p>$20.00</p>
        <img [src]= 'close' alt="" class="close">
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../../assets/cafe340gr.png" class="producto" alt="café 340">
        </figure>
        <p>Café 340gr</p>
        <p>$20.00</p>
        <img [src]= 'close' alt="" class="close">
      </div>

      <div class="order">
        <p>
          <span>Total</span>
        </p>
        <p>
          $560.00
        </p>
      </div>

      <button class="primary-button add-to-cart-button">Checkout
      </button>

    </div>

  </div>
</div>
