.mobile-menu {
  padding: 2.4rem;
  font-size: var(--md);
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  // margin-bottom: 2.4rem;
}

// .category {
//   text-decoration: none;
//   color: var(--black);
//   font-weight: bold;
//   margin-bottom: 2.4rem;
// }

.mobile-menu ul {
  margin: 2.4rem 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:nth-child(2) {
  margin-top: 4rem;
}

.mobile-menu ul li {
  margin: 2.4rem;
}

.mobile-menu ul li:nth-child(5){
  margin-bottom: 4rem;
}

.mobile-menu ul:nth-child(3) {
  margin-top: 16rem;
}

.mobile-menu ul:nth-child(3) li{
  margin: 0 2.4rem 0 2.4rem;
}

.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sign-out {
  font-size: var(--sm);
  color: var(--hospital-green);
}

