:root {
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

.desktop-menu {
  width: 10rem;
  height: auto;
  border: .1rem solid var(--very-light-pink);
  border-radius: .6rem;
  padding: 2rem 2rem 0 2rem;
}

.desktop-menu ul li {
  list-style: none;
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li a{
  color: var(--black);
  text-decoration: none;
  margin-bottom: 2rem;
  display: inline-block;
}

.desktop-menu ul li:last-child {
  padding-top: 2rem;
  border-top: .1rem solid var(--very-light-pink);
  text-align: end;
}

.desktop-menu ul li:last-child a{
  color: var(--hospital-green);
  font-size: var(--sm);
}




