<div class="mobile-menu">
  <ul>
    <li>
      <a href="" class="category">CATEGORIES</a>
    </li>
    <li>
      <a href="" class="category">ALL</a>
    </li>
    <li>
      <a href="" class="category">GRANO</a>
    </li>
    <li>
      <a href="" class="category">MOLIDO</a>
    </li>
    <li>
      <a href="" class="category">OTHERS</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="" class="category">My orders</a>
    </li>
    <li>
      <a href="" class="category">My account</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="" class="email" id="email">initium@example.com</a>
    </li>
    <li>
      <a href="" class="category sign-out">Sign out</a>
    </li>
  </ul>
</div>
