:root {
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

.mobile-menu {
  padding: 2.4rem;
  font-size: var(--md);
}

.category {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 2.4rem;
  // display: inline-block;
}

.mobile-menu ul {
  margin: 2.4rem 0 0;
}

.mobile-menu li {
  list-style: none;
  margin: 2.4rem 0 0;
}

.email {
  font-weight: 300px !important;
  text-decoration: none;
  color: var(--black);
  margin-bottom: 2.4rem;
  font-size: var(--sm);
}

// #email {
//   font-size: var(--sm);
//   font-weight: 30rem;
// }
