<div class="login">
  <div class="form-container">

    <h1 class="title">My account</h1>

    <form action="/" class="form">
      <div>
        <label for="name" class="label">Name</label>
        <p class="value">David Valdeleon</p>

        <label for="email" class="label">Email</label>
        <p class="value">sdasdasd@gmail.com</p>


        <label for="new-password" class="label">Password</label>
        <p class="value">*******</p>
      </div>

      <input type="submit" value="Edit" class="secundary-button login-button">
    </form>
  </div>
 </div>
