<section class="main-container">
  <div class="cards-container">

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <div class="product-info">
        <div>
          <p>120,00</p>
          <p>Coffe</p>
        </div>
        <figure>
          <img src="https://cdn-icons-png.flaticon.com/128/3649/3649778.png" alt="" class="carrito">
        </figure>
      </div>
    </div>


  </div>
</section>
