<div class="login">
  <div class="form-container">
    <img [src]='logo' alt="logo" class="logo">

    <h1 class="title">Crate a new password</h1>
    <p class="subtitle">Enter a new password for your account</p>

    <form action="/" class="form">
      <label for="password" class="label">Password</label>
      <input type="password" class="input input--password" id="password" placeholder="********">

      <label for="new-password" class="label">Password</label>
      <input type="password" class="input input-password" id="new-password" placeholder="********">

      <input type="submit" value="Confirm" class="primary-button login-button">
    </form>
  </div>
 </div>
