<app-navbar></app-navbar>

<aside class="product-detail">
  <div class="product-detail-close">
    <img [src]='close' alt="close" class="close">
  </div>
  <img [src]='producto' alt="cafe 340gr" class="product">
  <div class="product-info">
    <p>$35.00</p>
    <p>Cafe 340gr</p>
    <p>El café colombiano se caracteriza por ser un café suave y con sabores frutales. La cosecha de Viotá no es la excepción, es un café tipo ARÁBIGO y de variedad CASTILLO.
    </p>
    <button class="primary-button add-to-cart-button">
      <img class="shopping-cart" [src]= 'shoppingCart' alt="add to cart">
      Add to cart
    </button>
  </div>
</aside>
