<div class="login">
  <div class="form-container">

    <h1 class="title">My account</h1>

    <form action="/" class="form">
      <div>
        <label for="name" class="label">Name</label>
        <input type="text" class="input input--name" id="name" placeholder="Name">

        <label for="email" class="label">Email</label>
        <input type="email" class="input input--email" id="email" placeholder="initium@example.com">

        <label for="new-password" class="label">Password</label>
        <input type="password" class="input input-password" id="new-password" placeholder="********">
      </div>

      <input type="submit" value="Create" class="primary-button login-button">
    </form>
  </div>
 </div>
